<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         bootstrap="./vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="ElasticSearchODM Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="-1"/>
    </php>
    <filter>
        <whitelist>
            <directory>./src/</directory>
            <exclude>
                <directory>src/Annotations/</directory>
            </exclude>
        </whitelist>
    </filter>
    <coverage>
        <include>
            <directory>./src/</directory>
        </include>
        <exclude>
            <directory>src/Annotations/</directory>
        </exclude>
    </coverage>
</phpunit>
